.post{
    width: 550px;
    margin: 30px 40px 50px 40px;
}
.post__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.post__headerAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.post__headerAuthor span{
    color: gray;
    font-size: 15px;

}
.post__image img{
    width: 100%;
    border-radius: 6px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
}
.posticon{
    padding: 7px;
    font-size: 30px;
}
.post__footerIcons{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.posticon:hover{
 cursor: pointer;
}
